langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-classic
langchain-huggingface
unstructured
faiss-cpu
streamlit
sentence-transformers
python-dotenv
beautifulsoup4
pymupdf
requests
